@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{

}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav_container
	{
		display: none;
	}
	.home_slider_content h1:first-child
	{
		font-size: 72px;
	}
	.home_slider_content h1:nth-child(2)
	{
		font-size: 60px;
		margin-top: -18px;
	}
	.home_slider_button
	{
		margin-top: 58px;
	}
	.hamburger
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p{font-size: 13px;}
	.top_bar
	{
		display: none;
	}
	.button
	{
		height: 44px;
		border-radius: 22px;
	}
	.button a
	{
		line-height: 44px;
		padding-left: 36px;
		padding-right: 36px;
	}
	.logo a img
	{
		width: 24px;
	}
	.logo a
	{
		font-size: 24px;
	}
	.home_slider_nav
	{
		display: none !important;
	}
	.home_slider_content h1:first-child
	{
		font-size: 48px;
	}
	.home_slider_content h1:nth-child(2)
	{
    	font-size: 43px;
    	margin-top: -12px;	
	}
	.home_slider_button
	{
		margin-top: 45px;
	}
	.home_slider_dots
	{
		display: none !important;
	}
	.main_nav_col
	{
		height: 60px;
	}
	.header.scrolled .main_nav_col
	{
		height: 60px;
	}
	.logo_container
	{
		-webkit-transform: none;
		transform: none;
	}
	.content_search
	{
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	.header.scrolled .content_search
	{
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	.hamburger
	{
		-webkit-transform: none;
		transform: none;
	}
	.logo a
	{
		font-size: 16px;
	}
	.logo a img
	{
		width: 16px;
		margin-right: 7px;
	}
	.hamburger i
	{
		font-size: 18px;
	}
	.content_search svg
	{
		width: 15px;
		height: 15px;
	}
	.menu_close_container
	{
		top: 15px;
		right: 28px;
	}
	.menu_logo
	{
		margin-bottom: 17px;
	}
	.menu_logo a img
	{
		width: 28px !important;
	}
	.menu_item a
	{
		font-size: 24px;
	}
}
